.cat{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20px;
		background: none;
 border-radius: 20px;
 border :none;
 padding : 10px;
}
.cat:hover{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20px;
	background: white;
 border-radius: 20px;
 padding : 10px;
	 
	
}
.underCat:after,#headLine:after{
	border-bottom : 2px solid black;
	display: block;
	content : '';
	transition: 0.5s;
	width : 0%;
}
.underCat:hover:after,#headLine:hover:after{
	width : 100%;
}

.card{
	width: 30rem;
	margin : 70px;
	height: auto;
}
.selected{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20px;
	background: white;
 border-radius: 20px;
 padding : 10px;
}
